In [7]:
import pandas as pd
import selenium
import time

from selenium import webdriver

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

# Que 1

In [2]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)

name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException: 
    name.append('No details available')
    
time.sleep(2)   

rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException: 
    rank.append('No details available')

time.sleep(2)

artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:  
    artist.append('No details available')
time.sleep(2)  

views=[]
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException: 
    views.append('No details available')
    
time.sleep(2) 

upload_date=[]
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException: 
    upload_date.append('No details available')
    time.sleep(2) 
    
df = pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df


driver.close()

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.27
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.96
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.21
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.07

# Que 2

In [8]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

url = "https://www.bcci.tv/"
driver.get(url)


time.sleep(2)

int_tab =driver.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()

In [9]:
# creating empty lists
Match_Title=[]
Series =[]
Place=[]
Date = []
Time=[]

# extracting title
titles=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')

# extracting series
series =driver.find_elements_by_xpath('//span[@class="ng-binding"]')

#extarcting places
places=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')

# extracting date 
dates=driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')

# extracting time
times=driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')

for i in range(len(titles)):
    title=titles[i].text     
    Match_Title.append(title)
    
    place=places[i].text     
    Place.append(place)
    
    serie=series[i].text     
    Series.append(serie)
    
    time=times[i].text     
    Time.append(time)
    
    date=dates[i].text     
    Date.append(date)



# Make dataframe
India_details_df = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
India_details_df


driver.close()

,Match_Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - Arun Jaitley Stadium, Delhi",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - Barabati Stadium, Cuttack",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...,14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:30 PM IST

# Que 3

In [4]:
driver=webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)


selenium_link=driver.find_element_by_xpath("//li[@id='menu-item-4622']/a")
try:
    selenium_link.click()
except:          
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)    
    
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               
    name.append('No details available')
time.sleep(2)   

desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')
time.sleep(2)

df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
df

driver.close()

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Que 5

In [10]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

url = 'https://github.com/' #getting the required url
driver.get(url)

time.sleep(2)

# Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

#Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

    
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
    
    # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        # Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
            
    # Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-fg-default text-bold mr-1']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')
        
#creating dataframe
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

driver.close()

,Repository title,Repository description,Contributors count,Language used
0,spacedriveapp / spacedrive,-,11,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
1,ellie / atuin,-,29,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
2,nuxt / nuxt.js,-,320,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
3,mastodon / mastodon,-,665,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
4,PowerShell / PowerShell,-,399,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
5,521xueweihan / HelloGitHub,-,11,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
6,Z4nzu / hackingtool,-,15,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
7,rochacbruno / python-week-2022,-,5,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
8,klauspost / compress,-,29,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
9,labmlai / annotated_deep_learning_paper_implem...,-,12,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
10,Dec0ne / KrbRelayUp,-,-,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
11,why20021008 / hand-write,-,-,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
12,trustedsec / CS-Remote-OPs-BOF,-,2,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
13,Asabeneh / 30-Days-Of-React,-,8,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
14,mingrammer / diagrams,-,104,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
15,bregman-arie / devops-exercises,-,84,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
16,hashcat / hashcat,-,94,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
17,kedacore / keda,-,195,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
18,rmcelreath / stat_rethinking_2022,-,-,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
19,biggerduck / RedTeamNotes,-,-,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
20,moby / moby,-,"2,162","[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
21,airbnb / javascript,-,481,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
22,Vonng / ddia,-,71,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
23,apache / flink,-,"1,044","[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."
24,spulec / moto,-,783,"[TypeScript, Rust, CSS, JavaScript, Swift, SCS..."

# Que 6

In [3]:
driver=webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

url =  "https://www.billboard.com/charts/hot-100"
driver.get(url)

charts = driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-a-unstyle-link lrv-u-color-brand-accent-blue:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest ']")
charts.click()

hot = driver.find_element_by_xpath("//a[@class='c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet']")
hot.click()

ranks= driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column@mobile-max lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey']")
rank=[]
for i in ranks:
    rank.append(i.text)

song=[]
firstsong = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
song.append(firstsong[0].text)

songs = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in songs:
    song.append(i.text)

artist=[]
firstartists = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
artist.append(firstartists[0].text)

artists = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artists:
    artist.append(i.text)

lastweek=[]
peak_rank=[]
week=[]
lastweek_1= driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")


lastweek.append(lastweek_1[0].text)
peak_rank.append(lastweek_1[1].text)
week.append(lastweek_1[2].text)

lastweek_all= driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")

config=[]
for i in lastweek_all:
    config.append(i.text)

temp_lastweek=config[0::6]
for i in temp_lastweek:
    lastweek.append(i)

temp_peakrank=config[1::6]
for i in temp_peakrank:
    peak_rank.append(i)

temp_week=config[2::6]
for i in temp_week:
    week.append(i)

hot_100=pd.DataFrame()
hot_100['Rank']= rank
hot_100['Song Name']=song
hot_100['Artist Name']=artist
hot_100['Last Week Rank']=lastweek
hot_100['Peak Rank']=peak_rank
hot_100['Weeks On Board']=week
hot_100

driver.close()

,Rank,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,1,As It Was,Harry Styles,2,1,3
1,2,First Class,Jack Harlow,1,1,2
2,3,Heat Waves,Glass Animals,3,1,66
3,4,Big Energy,Latto,4,3,26
4,5,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...,...
95,96,P Power,Gunna Featuring Drake,91,24,14
96,97,Money So Big,Yeat,-,95,4
97,98,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
98,99,Fall In Love,Bailey Zimmerman,-,99,1
99,100,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

# Que 7

In [18]:
driver=webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(2)

# Opening the naukri.com
url = "https://www.naukri.com/browse-jobs"
driver.get(url)
time.sleep(2)
#Fetching urls to navigate recruiter page
recruiter = driver.find_element_by_xpath("/html/body/div[1]/div/ul/li[2]/a")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

# Fetching search button, sending keys and clicking on it
search = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input") 
search.send_keys("Data Science ")           
btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()     
time.sleep(3)
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)
    #Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:50]
Naukri['Designation'] = Designation[:50]
Naukri['Company'] = Company[:50]
Naukri['Skills'] = Skills[:50]
Naukri['Location'] = Location[:50]
Naukri

driver.close()

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Vadodara / Baroda
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",HR Manager
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Kalpana Dumpala
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Executive Hiring
35,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Hyderabad / Secunderabad
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Mubarak
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Company HR
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Bengaluru / Bangalore
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Kushal Rastogi
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Company HR
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mahesh Babu Channa
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",HR Team Lead
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Hyderabad / Secunderabad
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Sakshi Chhikara
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Assistant Manager HR
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Chandigarh
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Kapil Devang
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",HR Manager

# Que 8

In [19]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(2)

# Getting required url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

# Creating empty lists
Book_name =[]
Author_name = []
Volumes_sold= []
Publisher = []
Genre = []

# Scraping book name details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    Book_name.append(i.text)

# Scraping author name details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    Author_name.append(i.text)

# Scraping Volumes sold details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

# Scraping Publisher details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    Publisher.append(i.text)

# Scraping Genre details
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    Genre.append(i.text)

# Creating dataframe to store the fethched data
Novels = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Novels

driver.close()

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Que 9

In [23]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(2)

# Getting required url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

# Creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

# Scraping name of the movie
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

# Scrpaing Year span 
for i in driver.find_elements_by_xpath("//span[@class='lister-item-index unbold text-primary']"):
    Year_span.append(i.text)
    
# Scrpaing Genre 
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
    
# Scrpaing Run_time 
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)
    
# Scrpaing Ratings 
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    Ratings.append(i.text)
    
# Scrpaing Votes 
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)
    
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

Tv_series = pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
Tv_series

driver.close()

100 100 100 100 100 100

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,1.,"Action, Adventure, Drama",57 min,9.2,"1,978,820"
1,Stranger Things,2.,"Drama, Fantasy, Horror",51 min,8.7,"984,481"
2,The Walking Dead,3.,"Drama, Horror, Thriller",44 min,8.2,"943,200"
3,13 Reasons Why,4.,"Drama, Mystery, Thriller",60 min,7.5,"281,785"
4,The 100,5.,"Drama, Mystery, Sci-Fi",43 min,7.6,"241,741"
...,...,...,...,...,...,...
95,Reign,96.,"Drama, Fantasy",42 min,7.4,"48,487"
96,A Series of Unfortunate Events,97.,"Adventure, Comedy, Drama",50 min,7.8,"59,119"
97,Criminal Minds,98.,"Crime, Drama, Mystery",42 min,8.1,"188,528"
98,Scream: The TV Series,99.,"Comedy, Crime, Drama",45 min,7.1,"39,966"
99,The Haunting of Hill House,100.,"Drama, Horror, Mystery",572 min,8.6,"226,025"

# Que 10

In [24]:
driver = webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(2)

# Getting required url
url = "https://archive.ics.uci.edu/ml/datasets.php"
driver.get(url)

#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

#Scrapping the data having dataset name
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')
        
#Scrapping the data having no of instances
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#Scrapping the data having the year details
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    

#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

driver.close()

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021